<h1>Witaj, <%= @email %>!</h1>
<p>
  Twoje zgłoszenie w witrynie BinarOffice zostało skomentowane!<br>
</p>
<p>
  Sprawdź powiadomienia swoim koncie: <a href="https://kier.binar.app/users/sign_in">BinarOffice</a>.
</p>
