<h1>Witaj, <%= @email %>!</h1>
<p>
  Zatwierdzone zgłoszenie w witrynie BinarOffice zostało edytowane!<br>
</p>
<p>
  Sprawdź powiadomienia na swoim koncie: <a href="https://kier.binar.app/users/sign_in">BinarOffice</a>.
</p>