<h1>Witaj, <%= @email %>!</h1>
<p>
  Masz nowe zgłoszenie na swoim koncie BinarOffice!<br>
</p>
<p>
  Aby je odczytać zaloguj się na swoim koncie: <a href="https://kier.binar.app/users/sign_in">BinarOffice</a>.
</p>
