<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Witaj, Adam!</h1>
    <p>
      Masz nowe powiadomienia na swoim koncie!<br>
    </p>
    <p>
      Aby je odczytać zaloguj się na swoim koncie: <a href="https://kier.binar.app/users/sign_in">BinarOffice</a>.
    </p>
  </body>
</html>