<h1>Witaj, <%= @email %>!</h1>
<p>
  Zatwierdzone przez Ciebie zgłoszenie w witrynie BinarOffice zostało usunięte!<br>
</p>
<p>
  Sprawdź powiadomienia na naszej stronie: <a href="https://kier.binar.app/users/sign_in">BinarOffice</a>.
</p>
