<div class="modal-header">

  <button type="button" class="close" data-dismiss="modal">x</button>

  <h4 class="modal-title" id="myModalLabel">Formularz zgłoszeniowy</h4>

</div>

<div class="modal-body">
<form>
  <div class = "form-group">
  <label for="category">Kategoria zgłoszenia</label>
  <div>
  <select multiple class="form-control" id="category">
    <option>Awaria</option>
    <option>Zakupy</option>
    <option>Inne</option>
  </select>
  </div>
  </div>

  <div class = "form-group">
  <label for="urgency">Wybierz pilność</label>
  <div>
  <select multiple class="form-control" id="urgency">
    <option>High</option>
    <option>Medium</option>
    <option>Low</option>
  </select>
  </div>
  </div>

  <div class = "form-group">
  <label for="Title">Tytuł zgłoszenia</label>
  <input type="title" class="form-control" id="title" placeholder="Podaj tytuł...">
  </div>

  <div class = "form-group">
  <label for="description">Opis zgłoszenia</label>
  <textarea class="form-control" id="description" rows="3"></textarea>
  </div>

  <div class= "form-group">
    <label for="fileControl">Załącznik (zdjęcie)</label>
    <input type="file" class="form-control-file" id="fileControl">
  </div>
  
</form>
</div>

<div class="modal-footer">

  <button class="btn btn-primary">Save</button>

</div>
