/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  @import "bootstrap-sprockets";
 @import "bootstrap";


.body{
  background: #36372d;
  height: 100vh;
}

body{
  overflow: hidden;
}

.col_title{
  background: #4919AA;
  color: #FFFFFF;
  border-radius: 30px;
}

.text-field {
  background: #f0f0f0 !important;
}

.button-notification {
  background-color: #2B185C !important;
  border-color: #2B185C !important;
  padding: 15px !important;
  font-size: 20px !important;
}
