.like{
    padding-top: 4px;
}

.processsButton{
    padding-left: 10px;
}

.titleName{
    padding-top: 6px !important;
    font-size: 26px;
    overflow: hidden;
}

.peCheckButton{
    padding-bottom: 20px !important;
    padding-right: 20px !important;
}