.button-edit {
  right: 0;
  top: 0;
  background-color: #92DBFB !important;
}

.button-save {
  background-color: #2697F7 !important;
  border-color: #2697F7 !important;
}

.button-cancel {
  background-color: #4919AA !important;
  border-color: #4919AA !important;
}

.image-profile {
  outline: 2px solid #7936ffc5;
  -moz-outline-radius: 2px;
}

.header-author {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #EEE;
}

.div-dates {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(185, 185, 185);
}

.divider {
  background: #7936ffc5;
}

.div-message-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #EEE;
  word-break: break-word;
}
