.button-edit {
  right: 0;
  top: 0;
}

.image-profile {
  outline: 2px solid #7936ffc5;
  -moz-outline-radius: 2px;
}

.header-author {
  font-family: Muli;
  font-size: 22px;
  color: #EEE;
}

.div-dates {
  font-family: Muli;
  font-size: 13px;
  color: rgb(185, 185, 185);
}

.divider {
  background: #7936ffc5;
}

.div-message-content {
  font-family: Muli;
  font-size: 16px;
  color: #EEE;
  word-break: break-word;
}
