// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.photoDiv{
  position: fixed;
  width: 80vw;
  height: 80vh;
  left: 10vw;
  top: 10vh;
}

.image {
  align-content: left;
}

.description {
  word-break: break-word;
  font-family: Muli;
  font-size: 16px;
}

.title {
  word-break: break-word;
  font-family: Muli;
  font-size: 28px;
}

.button-edit {
  padding: 0;
  margin: 0;
  background-color: #9C82D0 !important;
  border-color: #9C82D0 !important;
}

.button-delete {
  padding: 0;
  margin: 0;
  background-color: #4919AA !important;
  border-color: #4919AA !important;
}

.button-close {
  background-color: #2B185C !important;
  border-color: #2B185C !important;
}

.date {
  padding: 0 !important;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  font-family: Muli;
  font-size: 14px;
  color: rgb(185, 185, 185);
}

.p-comment-header {
  font-family: Muli;
  font-size: 18px;
  text-decoration: underline
}

.form-check-input {
  display: block !important;
  width: 25px;
  height: 25px;
  margin: 25px 0 !important;
}